<h4>{{ title }}</h4>

<div class="col-md-6 col-sm-12">
  <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="description">Nombre</label>
      <input type="text" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': submited && new.name.errors }" />
      <div *ngIf="submited && new.name.errors" class="invalid-feedback">
        <div *ngIf="new.name.errors.required">Nombre Requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="position">Cargo</label>
      <select class="custom-select" formControlName="position"
        [ngClass]="{ 'is-invalid': submited && new.position.errors }">
        <option *ngFor="let position of POSITIONS" [value]="position">
          {{ position }}
        </option>
      </select>
      <div *ngIf="submited && new.position.errors" class="invalid-feedback">
        <div *ngIf="new.position.errors.required">Cargo es Requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="area">Area</label>
      <select class="custom-select" formControlName="area"
        [ngClass]="{ 'is-invalid': submited && new.area.errors }">
        <option *ngFor="let area of AREAS" [value]="area">
          {{ area }}
        </option>
      </select>
      <div *ngIf="submited && new.area.errors" class="invalid-feedback">
        <div *ngIf="new.area.errors.required">Area es Requerida</div>
      </div>
    </div>

    <div class="form-group">
      <label for="world">Mundo</label>
      <select class="custom-select" formControlName="world"
        [ngClass]="{ 'is-invalid': submited && new.world.errors }">
        <option *ngFor="let world of WORLDS" [value]="world">
          {{ world }}
        </option>
      </select>
      <div *ngIf="submited && new.world.errors" class="invalid-feedback">
        <div *ngIf="new.world.errors.required">Mundo es Requerido</div>
      </div>
    </div>

  <div class="form-group">
    <button [disabled]="loading" type="submit" class="btn btn-primary">Crear Usuario</button>

    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

    <a [routerLink]="['/']" class="btn btn-link">Volver</a>
  </div>
</form>

</div>
